@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Dream Avenue';
  src: url('src/FontsFree-Net-Dream-Avenue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Body and Background */
body {
  margin: 0;
  padding: 0;
  font-family: 'Dream Avenue';
  background: linear-gradient(135deg, #4a0e4e, #81007f);
  color: #ffffff;
}

.GachaCard {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.GachaCard:hover {
  transform: translateY(-10px) rotate(2deg);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.GachaCard img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 4px solid #f59e0b;
}

.GachaCard .p-4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  padding: 20px;
}

.GachaCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f59e0b;
  text-transform: uppercase;
}

.GachaCard p {
  font-size: 1rem;
  color: #e2e8f0;
  margin: 5px 0;
}

.GachaCard p:last-child {
  color: #60a5fa;
}

/* Add a glowing effect to the summon buttons */
.bg-gradient-to-r {
  position: relative;
  overflow: hidden;
}

.bg-gradient-to-r::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: rotate(30deg);
  animation: shinyEffect 3s linear infinite;
}

.btn {
  width: 400px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 0.1rem solid #fff;
  outline: none;
  transition: 1s ease-in-out;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 1.4rem;
}

.btn span {
  color: white;
  font-size: 40px;
  font-weight: 100;
  position: relative;
  z-index: 1;
}

.border {
  fill: none;
  stroke: #fff;
}

.glow-button {
  position: relative;
  transition: all 0.3s ease;
}

.glow-button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6);
}

.custom-font-size {
  font-size: 38px; /* Set font size to 40 pixels */
}

@keyframes shinyEffect {
  from {
    transform: rotate(30deg) translateX(-100%);
  }
  to {
    transform: rotate(30deg) translateX(100%);
  }
}

.table-container {
  overflow-x: auto;
}

.login-log-table {
  table-layout: fixed;
  width: 100%;
}

.login-log-table td,
.login-log-table th {
  word-wrap: break-word;
  max-width: 200px; /* Adjust this value as needed */
}
